<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<!--Config Api -->
	<add key="API_ACCOUNT_URL" value="https://alphaapi.digiticket.vn/" />
	<add key="API_SERVICES_URL" value="https://alphaapi.digiticket.vn/" />
	<!--<add key="API_SERVICES_URL" value="https://api2.digiticket.vn/" />-->
	<add key="API_CDN_URL" value="" />
	<add key="LOAD_URL" value="https://alphaapi.digiticket.vn/" />

	<!--System-->
	<add key="System:Domain" value="https://localhost:44328"/>
	<add key="System:AuthCookieName" value="_cms_tmp_sso_auth"/>
	<add key="System:CultureCookieName" value="_cms_tmp_culture"/>
	<add key="System:SSO" value=""/>
	<add key="System:FEDomain" value="https://alpha.digiticket.vn"/>

	<!--Secret Confirm-->
	<add key="SECURE_SECRET_CONFIRM" value="2750423a07638b9c2bf12925a24f09b3" />
	<add key="SECURE_SECRET_KEY_ENCRYPT" value="B7EFF1C5839A624E3F97D0268917EDE8" />
	<add key="SECURE_SECRET_IV" value="1672943805135790" />

	<!--Tenant-->
	<add key="ClientId" value="336d26ac05b993" />
	<add key="ClientSecret" value="a6a27d6e64f9967b5ded0ca2724ff199" />

	<!--Workgroup-->
	<add key="WorkgroupDefault" value="DIGICMS"/>

	<!--Place in product Base Info-->
	<add key="PlaceInProductBaseInfo:CookieName" value="_dgtk_ssid" />

	<!--Media-->
	<add key="API_CDN_MEDIA_URL" value="https://cdn.digiticket.vn" />
	<add key="API_CDN_MEDIA_URL_SHOW_CONTENT" value="https://cdn.digiticket.vn/Content/ShowFile" />

	<!--Permission-->
	<add key="Permission_Products" value="Products" />
	<add key="Permission_Products_EditConfig" value="Products.EditConfig" />
	<add key="Permission_Products_EditGroupService" value="Products.EditGroupService" />
	<add key="Permission_Products_EditImage" value="Products.EditImage" />
	<add key="Permission_Products_EditInfo" value="Products.EditInfo" />
	<add key="Permission_Products_EditSEO" value="Products.EditSEO" />
	<add key="Permission_Products_EditStatus" value="Products.EditStatus" />
	<add key="Permission_Products_EditIdx" value="Products.EditStatus" />
	<add key="Permission_Products_EditTags" value="Products.EditTags" />
	<add key="Permission_Products_EditTagsGroup" value="Products.EditTagsGroup" />
	<add key="Permission_Products_ImportServicePrice" value="Products.ImportServicePrice" />
	<add key="Permission_Products_PublicProduct" value="Products.PublicProduct" />
	<add key="Permission_Products_ViewConfig" value="Products.ViewConfig" />
	<add key="Permission_Products_ViewImage" value="Products.ViewImage" />
	<add key="Permission_Products_ViewInfo" value="Products.ViewInfo" />
	<add key="Permission_Products_ViewSEO" value="Products.ViewSEO" />
	<add key="Permission_Products_ViewService" value="Products.ViewService" />
	<add key="Permission_Products_ViewStatus" value="Products.ViewStatus" />
	<add key="Permission_Products_ViewTags" value="Products.ViewTags" />
	<add key="Permission_Products_ViewTagsGroup" value="Products.ViewTagsGroup" />
	<add key="Permission_Products_UpdateQueryPrice" value="Products.PublicProduct" />

	<add key="Permission_Setting" value="Setting" />
	<add key="Permission_Setting_Edit" value="Setting.Edit" />
	<add key="Permission_Setting_View" value="Setting.View" />

	<add key="Permission_Suppliers" value="Suppliers" />
	<add key="Permission_Suppliers_Add" value="Suppliers.Add" />
	<add key="Permission_Suppliers_Edit" value="Suppliers.Edit" />
	<add key="Permission_Suppliers_ImportProduct" value="Suppliers.ImportProduct" />
	<add key="Permission_Suppliers_View" value="Suppliers.View" />

	<add key="Permission_SysWorkGroup" value="SysWorkGroup" />

	<add key="Permission_Tags" value="Tags" />
	<add key="Permission_Tags_Add" value="Tags.Add" />
	<add key="Permission_Tags_Edit" value="Tags.Edit" />
	<add key="Permission_Tags_View" value="Tags.View" />

	<add key="Permission_LandingPage" value="Setting" />
	<add key="Permission_LandingPage_View" value="Setting" />
	<add key="Permission_LandingPage_Add" value="Setting" />
	<add key="Permission_LandingPage_Edit" value="Setting" />

	<add key="Permission_CategoryTag" value="Tags" />
	<add key="Permission_CategoryTag_View" value="Tags.View" />
	<add key="Permission_CategoryTag_Add" value="Tags.Add" />
	<add key="Permission_CategoryTag_Edit" value="Tags.Edit" />

	<!-- cache -->
	<add key="PageSuggest" value="PageSuggest" />
	<add key="GroupServiceTags" value="GroupServiceTags" />
	<add key="GetListTags" value="GetListTags" />
	
	<!--Version-->
	<add key="Version_CSS" value="1.0.17" />
	<add key="Version_JS" value="1.0.17" />
</appSettings>