@using DigiticketCMS.Models.Modals;
@model CustomModal

<div class="modal fade" id="@Model.ContainerName" role="dialog" aria-labelledby="" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="" id="@Model.ContentName"></div>
        </div>
    </div>
</div>