* {
    --border-light: #dcdcdc;
}

.toast {
    border: 1px solid var(--border-light);
    box-shadow: none;
    transition: .3s;
}

@media screen and (max-width: 1399px) and (min-width: 800px) {
    .dataTables_scrollBody {
        max-height: calc(100vh - 40rem) !important;
    }
}
@media screen and (min-width: 1400px) {
    .dataTables_scrollBody {
        max-height: calc(100vh - 35.2rem) !important;
    }
}