<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace">

	<!-- define various log targets -->
	<targets>
		<!-- write logs to file -->
		<target name="errorLog" xsi:type="AsyncWrapper" queueLimit="5000">
			<target xsi:type="File" fileName="${basedir}/_LOG/${shortdate}_Error.log"
				  layout="${longdate} ${uppercase:${level}} ${message}"
					archiveAboveSize="102400000" maxArchiveFiles="9"
					archiveFileName="${basedir}/archives/${shortdate}_Error_{##}.log"
					archiveNumbering="Sequence" encoding="utf-8"/>
		</target>

		<target name="infoLog" xsi:type="AsyncWrapper" queueLimit="5000">
			<target xsi:type="File" fileName="${basedir}/_LOG/${shortdate}_digiticket_cms_app.log"
				  layout="${longdate} ${uppercase:${level}} ${message}"
					archiveAboveSize="102400000" maxArchiveFiles="9"
					archiveFileName="${basedir}/archives/${shortdate}_digiticket_cms_app_{##}.log"
					archiveNumbering="Sequence" encoding="utf-8"/>
		</target>

		<target name="authenLog" xsi:type="AsyncWrapper" queueLimit="5000">
			<target xsi:type="File" fileName="${basedir}/_LOG/${shortdate}_Authen.log"
					layout="${longdate} ${uppercase:${level}} ${message}"
					archiveAboveSize="102400000"
					archiveFileName="${basedir}/archives/${shortdate}_Authen_{##}.log" encoding="utf-8"/>
		</target>

		<target name="trackingLog" xsi:type="AsyncWrapper" queueLimit="5000">
			<target xsi:type="File" fileName="${basedir}/_LOG/${shortdate}_Tracking.log"
				  layout="${message}"
					archiveAboveSize="102400000" maxArchiveFiles="9"
					archiveFileName="${basedir}/archives/${shortdate}_Tracking_{##}.log"
					archiveNumbering="Sequence" encoding="utf-8"/>
		</target>
	</targets>

	<rules>
		<!--<logger name="*" minlevel="Trace" writeTo="infoLog" />-->
		<logger name="info" minlevel="Trace" writeTo="infoLog" />
		<logger name="authen" minlevel="Trace" writeTo="authenLog" />
		<logger name="error" minlevel="Trace" writeTo="errorLog" />
		<logger name="tracking" minlevel="Trace" writeTo="trackingLog" />
	</rules>
</nlog>
