@using Infrastructure.Config;

@{
    ViewBag.Title = "Danh sách user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section customStyles {
    <link href="~/Content/plugins/custom/jstree/jstree.bundle.css?v=@SystemVersion.VersionCSS" rel="stylesheet" />
    <link href="~/Content/css/users/users.css" rel="stylesheet" />
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-line-chart"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Danh sách user
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">
                            <div class=" text-right">
                                <a href="@Url.Action("UsersAddModal", "Users")"
                                   data-modal=""
                                   data-modal-size="modal-xl"
                                   class="btn btn-primary btn-elevate btn-icon-sm"
                                   data-callback="users.initAfterAddModalRend();">
                                    <i class="la la-plus"></i>
                                    Thêm mới user
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* content table *@
            <div class="kt-portlet__body">
                <div class="dataTables_wrapper dt-bootstrap4 no-footer table-Users">
                    <div class="row headerTable pl-3">
                        <div class="col-sm-12 col-md-1 row col-lg-1 p-0">
                            <div class="col-12 col-sm-5">
                                <div class="dataTables_length">

                                </div>
                            </div>
                        </div>
                        @FilterHelper.ClearFilter("", "FirstName")
                        @FilterHelper.FindName("col-sm-12 col-lg-3")
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="html_table_Users">
                                <thead class="">
                                    <tr>
                                        <th data-field="displayName">Tên hiển thị</th>
                                        <th data-field="email">Email</th>
                                        <th data-field="address">Địa chỉ</th>
                                        <th data-field="phoneNumber">Điện thoại</th>
                                        <th data-field="phoneNumber">Sửa vai trò</th>
                                        <th>Xem quyền</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="dataTables_info">

                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled">
                                        <a href="javascript:void(0)" data-dt-idx="0" tabindex="0" class="page-link">
                                            <i class="la la-angle-left"></i>
                                        </a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="javascript:void(0)" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                    </li>
                                    <li class="paginate_button page-item next disabled">
                                        <a href="javascript:void(0)" data-dt-idx="2" tabindex="0" class="page-link">
                                            <i class="la la-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* end: content table *@
        </div>
        <!-- end:: Content -->
    </div>
</div>

@Html.Partial("~/Views/Modals/_DefaultModal.cshtml")

@section customScripts{
    <script src="~/Content/plugins/custom/jstree/jstree.bundle.js?v=@SystemVersion.VersionJS"></script>

    <script src="~/Content/js/common-pages/users/user.js?v=@SystemVersion.VersionJS"></script>

    <script>
        users.init();
    </script>
}
