@{
    ViewBag.Title = "Trang chủ";
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Content -->
    @*<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">

                        </span>
                        <h3 class="kt-portlet__head-title">

                        </h3>
                    </div>
                </div>

            </div>
        </div>*@
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Content -->
        <div class="kt-container mt-5 kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="offset-1 col-lg-10">
                    <div class="kt-portlet kt-portlet--tab">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <span class="kt-portlet__head-icon kt-hidden">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="kt-portlet__head-title"></h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body p-0" style="overflow:hidden;">
                            <div class="d-flex justify-content-center align-items-center" style="height:300px; font-size:50px;">
                                Digiticket CMS
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Content -->
    </div>
    <!-- end:: Content -->
</div>